body, form {
    display: flex;
    flex-direction: column;
}

form {
    width: 480px;
    margin: 20px auto;
}

input, label {
    font-family: 'Helvetica Neue','Helvetica','Arial','Sans Serif';
    font-size: 20px;
}

input {
    min-width: 30px;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"], input[type="email"] {
    padding: 10px;
}

input[type="submit"] {
    width: 180px;
}
