body {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue',Helvetica,Arial,'Sans Serif';
    align-items: center;
}

section {
    width: 350px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#registrar {
    display: none;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

input, label, a {
    font-size: 20px;
}

input {
    min-width: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
}

input {
    border: 1px solid #cccccc;
    border-radius: 2px;
}

input[type="submit"] {
    width: 100px;
}

